
.header {
  color: white;
  background-color: black;

  &__top {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;

  }

  &__bottom {
    background-image: linear-gradient(to right,  #00933F, #00FC65);
    padding-right: 40px;
    padding-left: 40px;
    margin: 0 auto;

  }

  &__link {
    padding: 20px;
    margin: 0 auto;
    max-width: 1920px;
    margin-left: 200px;
  }
}

.menu {
  margin: 0;
  margin-left: 60px;

}

.bar {
  display: none;
}

.info {
  margin-top: 0px;
}

.txt {
  margin-bottom: 20px;

    &__number {
      color: #2ECC71;
      margin-right: 30px;
    }
  }

.logo {
  width: 250px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    color: #2ECC71;
  }

}


.btn {
  width: 8%;
  max-height: fit-content;
  color: white;
  background-color: #2ECC71;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: darkorange;
  }

  &_send {
    border: none;
    width: 10%;
  }


  &__sitebar {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    font-weight: bold;

    &_green {
      background-color: gray;
    }
  }

  &__black {
    color: #406665;
    background-color: black;
    border: 2px solid #406665;
    margin-left: 60px;

    &:hover {
      background-color: #F5F5F5;
    }
  }
}

