
//1600px

@media (max-width: 1600px) {

  .header {

    &__top {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 30px;
      padding-right: 20px;
      margin-left: 10px;
    }


  }

  .menu {
    margin-left: 45px;
  }

  .logo {
    width: 200px;

  }

  .link {
    font-size: 20px;
  }

  .btn {
    font-size: 17px;
    padding-right: 15px;
    padding-left: 15px;
  }


  .form {

    padding: 8px;

    &__search {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__logo {
      width: 32px;
    }
  }

  .name {
    font-size: 20px;
  }

  .raiting {
    width: 260px;
  }

  .social {

    &__icon {
      width: 45px;

      &_ok {
        width: 30px;
      }
    }
  }

 .comment {

    &__info {
      height: 95px;
    }

    &__img {
      width: 60px;
      height: 60px;
    }

    &__name {
      font-size: 20px;
    }

    &__date {
      font-size: 15px;
    }
  }

    .title {
      font-size: 20px;
    }

    .forms {
      margin-top: 10px;
    }

    .input-txt {
      font-size: 15px;
    }

    .support {
     width: 290px;
      padding: 10px 13px;

      &__logo {
        width: 38px;
      }
    }

    .sitebar {
      margin-top: 30px;
    }

    .articles {
      &__txt {
        font-size: 16px;
      }
    }


  }

//1536px

@media (max-width: 1536px) {

  .support {
    width: 290px;
    padding: 10px 13px;

    &__logo {
      width: 38px;
    }
  }

  .txt {
    font-size: 14px;
  }

  .btn {

    &__black {
      margin-left: 10px;
      margin-right: 5px;
    }

  }

  .form {

    &__button {
      margin-left: 10px;
      width: 34px;


    }

  }

  .links {
    font-size: 20px;
  }

  .contact {
    font-size: 20px;

    &__logo {
      width: 50px;
    }
  }

  .main-wrap {
    padding-left: 50px;
    padding-right: 50px;
  }


}

//1440px

@media (max-width: 1440px) {

  .support {
    width: 285px;
    top: 450px;

    &__logo {
      width: 30px;
    }
  }

  .txt {
    &__number {
      margin-right: 12px;
    }
  }

  .menu {
    margin-left: 30px;
  }

  .logo {
    width: 190px;

  }

  .link {
    font-size: 18px;
  }

  .btn {
    font-size: 15px;

    &__sitebar {
      width: 35%;
      font-size: 13px;
    }

    &__black {
      margin-left: 35px;
    }
  }

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }


  .img {
    width: 350px;
  }

  .form {

    padding: 6px;

    &__search {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &__button {
      height: 35px;
      margin-left: 10px;
    }
  }

 .articles {

      &__img {
        padding-bottom: 8px;
      }
      &__txt {
        font-size: 15px;
      }
    }


.name {
    font-size: 18px;
  }

  .raiting {
    width: 240px;
  }

  .social {

    &__icon {
      width: 40px;

      &_ok {
        width: 25px;
      }
    }
  }

 .comment {

    &__info {
      height: 80px;
      padding: 8px;
    }

    &__img {
      width: 50px;
      height: 50px;
    }

    &__name {
      font-size: 18px;
    }

    &__date {
      font-size: 13px;
    }

    &__txt {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .title {
    font-size: 18px;
  }

  .named {
    font-size: 18px;
  }

  .report {

    &__txt {
      font-size: 12px;
    }

    &__logo {
      width: 110px;
    }
  }

  .links {
    font-size: 18px;

    &__img {
      width: 90px;
    }
  }

  .contact {
    font-size: 18px;

    &__logo {
      width: 40px;
    }
  }


}

//1368px

@media (max-width: 1368px) {

  .support {
    top: 280px;
  }

  .logo {
    width: 180px;

  }

  .btn {

    padding-left: 12px;
    padding-right: 12px;

    &__sitebar {
      width: 40%;
      font-size: 14px;
    }

    &__black {
      margin-left: 20px;
    }
  }

  .articles {

    &__txt {
      padding-top: 9px;
    }
  }


  .comment {

    &__info {
      height: 80px;
    }

  }
}

//1366px

@media (max-width: 1366px) {

  .support {
    top: 300px;

  }

  .header {
    &__link {
      padding: 18px;
    }
  }

  .txt {
    font-size: 13px;

    &__number {
      margin-right: 14px;
    }
  }

  .logo {
    width: 170px;

  }

  .link {
    font-size: 17px;
  }

  .btn {
    font-size: 14px;

    &__black {
      margin-left: 30px;
    }
  }

  .articles {

    &__img {
      padding-bottom: 8px;
    }
    &__txt {
      font-size: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .form {
    &__button {
      margin-left: 9px;
    }
  }

  .name {
    font-size: 17px;

  }

 .comment {

    &__info {
      height: 75px;
    }

    &__name {
      font-size: 17px;
    }

    &__date {
      font-size: 12px;
    }

  }

  .named {
    font-size: 17px;
  }


}

//1280px

@media (max-width: 1280px) {

  .support {
    width: 275px;
    padding-right: 8px;

    &__logo {
      width: 25px;
    }
  }

 .header {

    &__top {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__link {
      padding: 16px;
    }

  }


  .link {
    font-size: 16px;
  }

  .btn {

    &__sitebar {
      width: 38%;
      font-size: 13px;
    }

    &_send {
      width: 12%;
    }
  }

  body {
    font-size: 13px;
  }

  .inform {

    &__logo {
      width: 16px;
    }

    &__number {
      margin-left: 9px;
    }
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 19px;
    margin-bottom: 30px;
  }


  .img {
    width: 300px;
  }

  .form {

    padding: 5px;

    &__search {
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 12px;
    }

    &__button {
      width: 28px;
      height: 28px;
    }
  }

  .articles {

    &__img {
      padding-bottom: 6px;
    }
    &__txt {
      font-size: 14px;
    }
  }

 .name {
    font-size: 16px;
   padding-top: 15px;
   padding-bottom: 15px;
  }

  .sitebar {
    margin-top: 25px;
  }

  .raiting {
    width: 230px;
  }

  .social {

    &__icon {
      width: 35px;

      &_ok {
        width: 22px;
      }
    }
  }


  .comment {

    &__info {
      height: 70px;
    }

    &__img {
      width: 45px;
      height: 45px;
    }

    &__name {
      font-size: 16px;
    }

  }

  .title {
    font-size: 16px;
  }

  .named {
    font-size: 15px;
  }

  .input-txt {
    font-size: 12px;

    &_form {
      height: 280px;
    }
  }

  .report {

    &__txt {
      font-size: 11px;
    }

    &__logo {
      width: 90px;
    }
  }

  .links {
    font-size: 16px;

    &__img {
      width: 80px;
      height: 40px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__name {
      margin-bottom: 15px;
    }
  }

 .contact {
    font-size: 16px;

    &__title {
      margin-bottom: 15px;
    }


    &__logo {
      width: 35px;
      margin-left: 35px;

    }
  }

  .payment {
    &__wrap {
      margin-bottom: 20px;
    }
  }


}

//1180px

@media (max-width: 1180px) {

  .header {

    &__top {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__link {
      padding: 15px;
    }

  }

  .txt {
    font-size: 11px;

  }

  .menu {
    margin-left: 20px;
  }

  .logo {
    width: 150px;

  }

  .link {
    font-size: 15px;
  }

  .btn {
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;


    &__sitebar {
      font-size: 11px;
    }

  }

  body {
    font-size: 12px;
  }

  .main-wrap {
    padding: 40px;
  }

  .inform {

    &__logo {
      width: 13px;
    }

    &__number {
      margin-left: 7px;
    }
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }

 .img {
    width: 250px;
  }

  .form {

    &__search {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 10px;
    }

    &__button {
      width: 25px;
      height: 25px;
      margin-left: 8px;
      margin-right: 5px;
    }
  }

  .articles {

    &__txt {
      font-size: 13px;
    }
  }

  .name {
    font-size: 13px;
  }

  .sitebar {
    margin-top: 20px;
  }

  .raiting {
    width: 200px;
  }

  .social {

    &__icon {
      width: 30px;

      &_ok {
        width: 20px;
      }
    }
  }

  .comments {
    margin-top: 40px;
  }

  .comment {

    &__info {
      height: 60px;
      padding: 6px;
    }

    &__img {
      width: 40px;
      height: 40px;
    }

    &__name {
      font-size: 14px;
      padding: 6px;
    }

    &__date {
      font-size: 10px;
      padding: 6px;
    }

    &__txt {
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }

.title {
    font-size: 13px;
  }

  .named {
    font-size: 14px;
  }

  .forms {
    margin-top: 7px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .input-txt {
    font-size: 11px;

    &_form {
      height: 250px;
    }
  }

 .report {

    &__txt {
      font-size: 9px;
    }

    &__logo {
      width: 80px;
    }
  }

  .links {
    font-size: 13px;

    &__img {
      width: 70px;
      height: 30px;
    }

  }

 .contact {
    font-size: 13px;


    &__logo {
      width: 30px;
      margin-left: 29px;

    }
  }

}

//1024px

@media (max-width: 1024px) {

  .support {
    width: 270px;
    top:250px;
    left: -255px;

    &__logo {
      width: 20px;
    }
  }

 .txt {
    font-size: 9px;

  }

  .logo {
    width: 125px;

  }

  .link {
    font-size: 13px;
  }

  .btn {
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
    width: 7%;

    &__sitebar {
      width: 35%;
      font-size: 10px;
    }

    &_send {
      width: 10%;
    }

    &__black {
      margin-left: 10px;
    }
  }

  body {
    font-size: 11px;
  }

  .articles {

    padding-top: 15px;
    padding-bottom: 15px;

    &__txt {
      font-size: 12px;
    }
  }

  .raiting {
    width: 180px;
  }

.named {
    font-size: 13px;
  }

}

//932px

@media (max-width: 932px) {

  .txt {
    margin-bottom: 10px;

    &__number {
      margin-right: 10px;
    }
  }

  .menu {
    margin-left: 10px;
  }

  .logo {
    width: 120px;

  }

  .link {
    font-size: 12px;
    margin-right: 8px;
  }

  .btn {

    font-size: 10px;

    &__sitebar {
      width: 40%;
    }

    &__black {
      margin-left: 10px;
    }
  }

  body {
    font-size: 10px;
  }

  .main-wrap {
    padding: 35px;
    grid-template-columns: 4fr 1.3fr;
    grid-column-gap: 40px;

  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 17px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 30px;
  }

.img {
    width: 220px;
    margin-bottom: 20px;
  }

  .form {

    &__search {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 9px;
    }

  }

  .name {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .raiting {
    width: 160px;
  }

  .social {

    &__icon {
      width: 25px;

      &_ok {
        width: 17px;
      }
    }
  }

 .comment {

    &__info {
      height: 50px;
    }

    &__img {
      width: 35px;
      height: 35px;
      padding-bottom: 5px;
    }

    &__name {
      font-size: 12px;
    }

    &__date {
      font-size: 9px;
    }

  }


  .title {
    font-size: 12px;
  }

  .named {
    font-size: 12px;
  }

  .input-txt {
    font-size: 10px;

    &_form {
      height: 220px;
    }
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .report {

    &__txt {
      font-size: 8px;
    }

    &__logo {
      width: 60px;
    }
  }

  .links {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

  }

  .contact {
    font-size: 12px;


    &__logo {
      width: 30px;
      margin-left: 22px;

    }
  }

}

//915px


@media (max-width: 916px) {

  .support {
    width: 260px;
    left: -250px;

  }

  .header {

    &__top {
      margin-left: 5px;
    }
  }

}

//914px

@media (max-width: 914px) {

.info {
    margin-left: 2px;
  }

  .txt {
    font-size: 8px;
  }

  .logo {
    width: 110px;

  }

.sitebar {
    margin-top: 15px;
  }

  .comment {
    margin-bottom: 30px;
  }

}

//912px

@media (max-width: 912px) {

  .header {

    &__link {
      margin-left: 130px;
    }

  }

}

//882px

@media (max-width: 882px) {

  .support {
    width: 240px;
    left: -230px;
    top: 200px;

  }

  .main-wrap {
    grid-template-columns: 1fr;
  }

  .header {


    &__bottom {
      padding-left: 5px;
    }

    &__link {
      padding: 10px;
      margin-left: 100px;
    }

  }

  .txt {
    font-size: 7px;
  }

  .menu {
    margin-left: 7px;
  }

  .logo {
    width: 100px;

  }

  .link {
    font-size: 12px;
    margin-right: 9px;
  }

  .btn {
    padding-right: 14px;
    padding-left: 14px;

    &__sitebar {
      width: 13%;
      font-size: 13px;
    }

  }

 h1 {
   font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .img {
    width: 200px;
  }

 .form {

    padding-top: 8px;
    padding-bottom: 8px;

    &__search {
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      padding-right: 150px;
      font-size: 10px;
      height: 10px;
    }

  }

  .articles {

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;

    &__txt {
      font-size: 14px;
    }
  }

 .name {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 18px;
  }

.comment {

    &__img {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &__name {
      font-size: 12px;
    }

    &__date {
      font-size: 8px;
    }

    &__txt {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .forms {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 30px;
  }

  .input-txt {

    &_form {
      height: 200px;
    }
  }

 .links {
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    &__img {
      width: 60px;
    }

   &__title {
     margin-bottom: 12px;
   }

   &__name {
     margin-bottom: 12px;
   }
  }

  .contacts {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact {
    font-size: 10px;

    &__logo {
      margin-left: 18px;
    }

    &__title {
      margin-bottom: 12px;
    }
  }

}

//853px

@media (max-width: 854px) {

 .header {

    &__top {
      padding-left: 20px;
      padding-right: 15px;
    }
}

  .txt {
    font-size: 6px;
  }

  .logo {
    width: 90px;

  }

  .comment {

    &__info {
      height: 45px;
      padding: 10px;
    }

    &__txt {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .forms {
    margin-top: 3px;
  }

  .links {

    &__name {
      margin-bottom: 10px;
    }

    &__img {
      width: 60px;
    }
  }

  .contact {
    font-size: 10px;
 }

}

//844px

@media (max-width: 844px) {


  .header {

    &__top {
      padding-top: 12px;
      padding-bottom: 12px;
    }

  }

 .link {
    font-size: 11px;
    margin-right: 11px;
  }

  .btn {

  &__black {
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  .inform {

    &__logo {
      width: 12px;
    }

  }

  article {
    padding-left: 60px;
    padding-right: 60px;

  }

.name {
    font-size: 15px;
  }

.report {
  &__txt {
    font-size: 7px;
  }
}

}

//820px

@media (max-width: 820px) {

 .link {
    margin-right: 9px;
 }

 .btn {
    font-size: 9px;

    &__sitebar {
      width: 12%;
      font-size: 12px;
    }

  }

 .comments {
    margin-top: 30px;
  }

 .links {
   &__img {
     width: 50px;
   }
 }

 .report {

   &__txt {
     margin-left: 30px;
   }
 }

}

//768px

@media (max-width: 768px) {

 .link {
    font-size: 9px;
    margin-right: 12px;
  }

  .btn {

    &__sitebar {
      width: 12%;
      font-size: 12px;
    }

  }

 .articles {
 padding-right: 40px;
    padding-left: 40px;
  }

 .forms {
    margin-bottom: 20px;
  }


}

//740px

@media (max-width: 740px) {

  .link {
    font-size: 8px;
  }

  btn {
    padding-right: 15px;
    padding-left: 15px;
  }

  .links {
    &__title {
      margin-bottom: 10px;
    }

    &__name {
      margin-bottom: 8px;
    }
  }

  .contact {
    &__title {
      margin-bottom: 10px;
    }
  }
}

//720px

@media (max-width: 720px) {

 .header {

    &__top {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 5px;
    }

    &__bottom {
      font-size: 9px;
      padding-left: 5px;
    }

    &__link {
      padding: 5px;
      margin-left: 100px;
    }

  }

  .txt {
    font-size: 5px;

  }

  .menu {
    margin-left: 5px;
  }

  .logo {
    width: 82px;

  }

  .link {
    font-size: 9px;
    margin-right: 9px;
  }

  .btn {
    font-size: 8px;

    &__sitebar {
      font-size: 11px;
    }

  }

  article {
    padding-left: 40px;
    padding-right: 40px;

  }

.form {

  padding-top: 6px;
  padding-bottom: 6px;
  }

  .articles {

    padding-top: 15px;
    padding-bottom: 15px;

    &__txt {
      font-size: 13px;
    }
  }

 .name {
    font-size: 14px;
  }

.report {

    &__txt {
      font-size: 6px;
    }

  }

  .links {
    font-size: 8px;

    &__img {
      width: 40px;
    }
  }

 .contact {
    font-size: 8px;


 &__logo {
      width: 20px;
      margin-left: 15px;

    }
  }

}

//667px

@media (max-width: 668px) {

  .link {
    font-size: 8px;
  }

  .btn {
    font-size: 7px;

    &__sitebar {
      width: 12%;
      font-size: 9px;
    }

  }

  footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

//540px

@media (max-width: 540px) {

  .support {
    width: 225px;
    height: 20px;
    padding: 7px 8px;
    left: -215px;

    &__logo {
      width: 15px;
    }
  }

  .header {

    &__top {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__bottom {
      display: none;
    }


  }

  .bar {
    display: flex;
    width: 20px;
    height: 20px;
    color: #2ECC71;
  }

  .txt {
    font-size: 7px;

  }

  .menu {
    display: none;
  }

  .logo {
    width: 110px;

  }

  .btn {

    &__sitebar {
      width: 15%;
      font-size: 11px;
    }

    &_menu {
      display: none;
    }
  }

  body {
    font-size: 8px;
  }

  .main-wrap {
    padding: 15px;
  }

  article {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  .inform {

    &__logo {
      width: 9px;
    }

    &__number {
      margin-left: 5px;
    }
  }

  h1 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

.raiting {
    width: 140px;
  }

  .social {

    margin-top: 15px;

    &__icon {
      width: 20px;

      &_ok {
        width: 13px;
      }
    }
  }

 .form {

    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;

    &__search {
      padding-top: 8px;
      padding-bottom: 6px;
    }

    &__button {
      margin-top: 3px;

    }
  }

  .articles {
    padding-right: 35px;
    padding-left: 35px;

  }

 .name {
    font-size: 13px;
  }

 .comments {
    margin-top: 25px;
  }

.comment {

    &__info {
      height: 40px;
    }

    &__img {
      width: 25px;
      height: 25px;
      padding-left: 8px;
      padding-right: 8px;
      margin-left: 5px;
      margin-right: 1px;
    }

    &__name {
      font-size: 9px;
      padding-bottom: 3px;

    }

    &__date {
      font-size: 7px;
    }

    &__txt {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  .title {
    font-size: 11px;
    padding-left: 25px;
  }

  .named {
    font-size: 11px;
  }

  .forms {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
  }

  .input-txt {
    margin-bottom: 10px;
    margin-top: 8px;

    &_form {
      height: 150px;
    }
  }

  footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .report {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;


    &__txt {
      font-size: 7px;
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 5px;
      margin-bottom: 8px;
    }

    &__logo {
      width: 50px;
      display: block;
      margin: 0 auto;
      margin-bottom: 5px;
    }
  }

  .links {
    display: block;
    font-size: 9px;


    &__title {
      font-size: 10px;
      margin-bottom: 8px;
    }

    &__img {
      width: 40px;
      height: 20px;
    }

    &__name {
      margin-bottom: 7px;
    }
  }

  .about-categories {
    justify-content: space-around;
    width: 100%;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    font-size: 9px;
    min-width: 170px;

    &__title {
      margin-bottom: 8px;
    }

    &__email {
      margin-bottom: 8px;
    }

    &__partner {
      margin-bottom: 8px;
    }


  }

  .payment {


&__wrap {
  margin-bottom: 15px;

}
  }

}

//430px

@media (max-width: 430px) {

  .txt {
    font-size: 6px;
  }

  .logo {
    width: 90px;

  }

  .btn {

    &__sitebar {
      width: 20%;
    }
  }

  .inform {
    font-size: 7px;
  }

 .img {
    width: 160px;
  }

  .contact {
    font-size: 9px;
  }

}

//414px

@media (max-width: 414px) {

  .btn {

    &_send {
      width: 15%;
    }

  }

  .articles {
    padding-right: 30px;
    padding-left: 30px;


    &__txt {
      font-size: 11px;
    }
  }

  .report {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .links {

    &__title {
      font-size: 10px;
 }

  }

}

//412px

@media (max-width: 412px) {

 .links {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contacts {
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .contact {

   &__logo {
      width: 22px;
      margin-left: 18px;

    }
  }

}

//390px

@media (max-width: 390px) {

  .btn {

 &__sitebar {
      width: 25%;
    }


  }

  .form {

    &__search {
      padding-left: 12px;
    }

  }

 .comment {

    &__img {
      margin-left: 4px;
    }

  }

  .input-txt {
    font-size: 8px;
    margin-top: 6px;

    &_form {
      height: 130px;
    }
  }

 .links {
    padding-top: 5px;
    padding-bottom: 5px;

    &__title {
      font-size: 11px;
      margin-top: 0px;

    }

    &__img {
      width: 30px;
    }
  }

  .contact {

    &__title {
      margin-bottom: 8px;

    }

  }

}

//375px

@media (max-width: 376px) {

  .form {

    padding-top: 3px;
    padding-bottom: 3px;

    &__search {
      padding-top: 6px;
      padding-bottom: 4px;
      height: 10px;
    }

  }

  .named {
    margin-bottom: 2px;
    font-size: 10px;
  }

.comment {

    &__info {
      height: 35px;
    }

  }

  .contacts {
    padding-left: 20px;
    padding-right: 10px;
  }

}

//360px

@media (max-width: 360px) {

  .btn {

    &__sitebar {
      width: 28%;
      font-size: 12px;
    }

    &_send {
      width: 18%;
    }

    &_menu {
      display: none;
    }
  }

article {
    padding-left: 25px;
    padding-right: 25px;

  }

}

//344px

@media (max-width: 344px) {

 .btn {

    &__sitebar {
      font-size: 11px;
    }

    &_send {
      width: 20%;
    }

  }

  .main-wrap {
    padding: 20px;
  }

}















